<mat-toolbar>
  <mat-toolbar-row>
    <button mat-mini-fab class="playwrite logo font-tab dark-tab">
      K
    </button>
    <span class="example-spacer"></span>
    <div>
      <button class="tab font-tab cursive" mat-fab extended>
        <mat-icon>emoji_people</mat-icon>
        about me
      </button>
    </div>
    <div>
      <button class="tab font-tab cursive" mat-fab extended>
        <mat-icon>precision_manufacturing</mat-icon>
        projects
      </button>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
