.example-icon {
  padding: 0 14px;
}

.font-tab{
  background-color: transparent;
  font-optical-sizing: auto;
  font-style: normal;
  box-shadow: none;
}

.playwrite{
  font-family: "Playwrite CU", cursive;
}

.cursive{
  font-family: cursive;
}

.light-tab{
  color: #ffdcc7 ;
}

.dark-tab{
  color: #ff9e47 ;
}

.logo{
  font-size: xx-large;
  font-weight: 700;
}
.tab{
  font-size: large;
  font-weight: 500;
}
.example-spacer {
  flex: 1 1 auto;
}